/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    font-family: Arial;
    background-color: #fff3eb;
}

img {
    width: 100px;
}

.hero {
    background-image: url("images/dahnau-beach.png");
    background-size: 900px 320px;
    background-repeat: no-repeat;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 900px;
    margin: 0 auto;
    border: 7px solid white;
    margin-top: 10px;
    border-radius: 32px;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.205);
}

h1,h2 {
    margin: 0;
    text-shadow: 0px 0px 4px black;
}

.hero-header {
    background-color: #9c765c;
    font-size: 22px;
    padding: 4px 10px;
    border-radius: 4px;
    color: white;
    margin-bottom: 12px;
}

.hero-title {
    background-color: #4d3a2f;
    font-size: 14px;
    padding: 4px;
    border-radius: 4px;
    color: white;
    width: 340px;
}

.activities {
    display: flex;
    flex-direction: column;
    height: 280px;
}

.activities-header {
    color: #362922;
}

.activities-details {
    display: flex;
    justify-content: space-around;
}

.activities-img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.activities-title {
    font-weight: 700;
    color: #362922;
    width: 150px;
    margin: 0 auto;
    font-size: 14px;
    margin-top: 10px;
}

.activities-info {
    width: 220px;
    font-size: 14px;
    color: #4e3b31;;
}


.guide {
    background-color: white;
    height: 315px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 210px;
    background-color: rgb(243, 187, 164);
    padding: 10px 14px;
    border-bottom: 4px solid rgb(34, 25, 22);
    border-radius: 4px;
}

.guide-details {
    width: 170px;
    font-size: 14px;
}

.guide-img {
    height: 200px;
    width: 140px;
    margin-right: 20px;
    border-radius: 4px;
    object-fit: cover
}